body.setup
{
	text-align:center;
}

#setup_mount
{
	margin:100px auto 0 auto;
	max-width:450px;
	width:80%;
	/*
	background: url(/i/pig.png) no-repeat 120% 100%;
	*/
	overflow:visible;
}

#pig
{
	display:inline;
	margin-top:-70px;
}

#setup_mount #setup_form
{
   	font-family: 'Open Sans', sans-serif;
    font-weight:300;
	background-color:rgba(0,0,0,.2);
	padding:25px 25px 75px 25px;
	border-radius:4px;
	text-align:center;
}

#setup_mount #setup_form .form_header
{
	font-weight: 700;
    font-size: 1em;
	text-transform:uppercase;
    background-color:#016D01;
    display: none;
    padding: 5px 10px;
	margin-bottom:20px;
    color: yellow;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#setup_mount #setup_form button
{
	margin:0 auto;
	display:inline-block;
	background-color:rgba(255,255,255,.5);
	border:1px solid green;
	padding:5px 10px;
	border-radius:3px;
	font-family: 'Open Sans', sans-serif;
	color:#000;
}

#setup_mount #setup_form .form_element
{
	overflow:hidden;
    display: table;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    border:0;
    border-radius:2px;
}

#setup_mount #setup_form .form_wrapper
{
	/*
	background-color:rgba(255,255,255,.25);
	*/
	overflow:hidden;
    display: table;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    border:0;
    border-radius:2px;
}

#setup_mount #setup_form .form_wrapper p
{
	display:inline-block;
	width:100%;
	font-size:.75em;
	color:rgba(255, 255, 255, .65);
	padding:0 0 10px 0;
	font-weight:300;
    font-size:.85em;	
	text-align:left;
	border-bottom:1px solid rgba(255, 255, 255, .25);
	line-height:1.25;
}

#setup_mount #setup_form .form_wrapper p.last
{
	border:0;
}

#setup_mount #setup_form .form_element label
{
	text-align:left;
	padding-right:10px;
	width:80px;
    font-weight:300;
	font-size:.85em;
	color:#fff;
	display:table-cell;
	white-space: nowrap;
	vertical-align:middle;
}

#setup_mount #setup_form .form_element input
{
	font-weight:300;
	font-size:1em;
	background-color:rgba(255,255,255,.25);
	border:0;
	border-radius:2px;
	padding:5px 0 5px 5px;
	color:#fff;
	width:95%;
	display:table-cell;
}

#setup_mount #setup_form .setup_radio
{
	background-color:rgba(255,255,255,.25);
    border:0;
    border-radius:2px;
    padding:5px;
	display:inline;
	margin-right:10px;
	font-size:.75em;
	color:#fff;
	float:left;
}

#setup_mount #setup_form .setup_radio input
{
	width:15px;
	padding:0;
    display:inline;
}

#setup_mount #setup_form .setup_select
{
    background-color:rgba(255,255,255,.25);
    border:0;
    border-radius:2px;
    padding:5px;
    display:inline;
    margin-left:5px;
    font-size:1em;
    color:#fff;
    float:left;
}

#setup_mount #setup_form .form_element input.error
{
	border:3px solid #016D01 !important;
}

#setup_mount #setup_form .form_element div.error_message
{
	font-weight: 300;
    font-size: .75em;
    background-color:#016D01;
    display: none;
    padding: 5px 5px;
    color: #fff;
    border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
