<!-- Footer Wrapper -->

                        <script src="/j/jquery.min.js"></script>
                        <script src="/j/bundle.js"></script>
			<script src="/j/jquery.dropotron.min.js"></script>
                        <script src="/j/util.js"></script>
                       	<script src="/j/socket.io.js"></script>
                        <script src="/j/main.js"></script>
			
			<script>
			$(document).ready(function(){
    			//$('span.help').tooltip({placement:"right"}); 
			});
			</script>

			<script>
			/*
			var socket = io('http://th.mc.com');
			socket.on('terence', function (data) {
			console.log(data);                      
			$('article').append("<br>"+data);
			socket.emit('my other event', { my: 'data' });
			});
			*/
			</script>
	</body>
</html>
