<header id="header">
	<div class="inner">
			<h1><a href="/" id="logo">Minecraft Mode</a></h1>
			<nav id="nav">
				<ul>
					<li class="current_page_item"><a href="/setup">Start a Server</a></li>
				</ul>
			</nav>

	</div>
</header>
