<% include partials/head.ejs %>
<div id="page-wrapper">
<div id="header-wrapper">
<div class="container">
	<% include partials/navigation.ejs %>
</div>
</div>
<!-- Main Wrapper -->
		<div id="main-wrapper">
				<div class="wrapper style2">
						<div class="inner">
								<div class="container">
										<div class="row">
												<div class="4u 12u(mobile)">
														<div id="sidebar">

																<!-- Sidebar -->

																		<section>
																				<header class="major">
																						<h2>Top Active Servers</h2>
																				</header>
																				<p>Join the top 5 active servers on Mincraft Mode or create your own.</p>
																				<ul>
																					<li>
																						<a href="">Tegan and Devan World</a>
																					</li>
																				</ul>
																				<footer>
																						<a href="#" class="button icon fa-info-circle">Explore more servers</a>
																				</footer>
																		</section>

														</div>
												</div>
												<div class="8u 12u(mobile) important(mobile)">
														<div id="content">

																<!-- Content -->

																		<article>
																				<header class="major">
																						<h2>Start a Server</h2>
																						<p>Design your Minecraft PE Server</p>
																				</header>
																				<form><div id ="react-main-mount" ><%- react_output %></div></form>													
																		</article>

														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<!-- article here -->
		</div>










</div>

<% include partials/footer.ejs %>
