<% include partials/head.ejs %>
<% include partials/navigation.ejs %>
<header id="hero">

	<div id="hero_copy">

		<h1>Minecraft Mode</h1>
		<div class="content_block"> 
			<p class="cta_header">Free Account</p>
			<p class="value_prop">Easily create Minecraft PE servers, log activity and invite friends.</p>
			<a href="/signup">Sign Up Now</a>
		</div>
	
		<div class="content_block"> 
                        <p class="cta_header">Deploy Now</p>
                        <p class="value_prop">Go from registration to running a server in minutes.</p>
                        <a href="">Our newest servers</a>
                </div>

	</div>


</header>

<main id="server_list">

</main>


<% include partials/footer.ejs %>
