<% include partials/head.ejs %>
<% include partials/navigation.ejs %>
<div id="server_config_details_mount"><%- server_config_details_component%></div>
<div id="server_status_mount"><%- server_status %></div>	
<% include partials/footer.ejs %>
