<% include partials/head.ejs %>
<% include partials/navigation.ejs %>
<form><div id ="setup_mount" ><%- react_output %></div></form>

<script type="text/javascript">
	mode.user_hash = "<%-user_hash%>";
</script>

<% include partials/footer.ejs %>
